<div class="card text-center" *ngIf="data">
    <div class="card-header">
        #PRODUCT DETAILS
    </div>
    <div class="card-body">
        <img class="card-img-top" src="https://picsum.photos/200/300/?random" alt="Card image cap" style="height:200px;width:200px">
        <div class="card-body">
          <h4 class="card-title">{{data.name}}</h4>
          <p class="card-text">{{data.price | currency:'&#8377;'}}</p>
          <p class="card-text">STOCK : {{data.quantity}}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>       
    </div>
</div>
