<nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#36304a">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">INFINITE LOOPS</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li> -->
    </ul>
</nav>
<router-outlet></router-outlet>