<div class="card text-center">
    <!-- <div class="card-header">
        **CODEATHON EVENT**
    </div> -->
    <div class="card-body">
            <div class="limiter">
                    <div class="container-table100">
                        <div class="wrap-table100">
                            <div class="table100">
                                <table>
                                    <thead>
                                        <tr class="table100-head">
                                            <th class="column1">id</th>
                                            <th class="column1">Supplier Id</th>
                                            <th class="column2">Product Code</th>
                                            <th class="column3">Name</th>
                                            <th class="column4">Price</th>
                                            <th class="column5">Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr *ngFor="let data of allData" (click)="viewDetails(data)">
                                                <td class="column1">{{data.id}}</td>
                                                <td class="column2">{{data.supplier_id}}</td>
                                                <td class="column3">{{data.product_code}}</td>
                                                <td class="column4">{{data.name}}</td>
                                                <td class="column5">{{data.price}}</td>
                                                <td class="column6">{{data.quantity}}</td>
                                            </tr>
                                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <!-- <div class="card-footer text-muted footer" >
        Friday - 29th June 2018
    </div> -->
  </div>
 